<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization.WebForms" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="5.0.4" targetFramework="net452" />
  <package id="Vintasoft.Barcode" version="12.1.0.1" targetFramework="net452" />
  <package id="Vintasoft.Barcode.Web.HttpHandlers" version="12.1.0.1" targetFramework="net452" />
  <package id="Vintasoft.Barcode.Web.Services" version="12.1.0.1" targetFramework="net452" />
  <package id="Vintasoft.Imaging" version="9.0.0.21" targetFramework="net452" />
  <package id="Vintasoft.Imaging.Annotation" version="9.0.0.21" targetFramework="net452" />
  <package id="Vintasoft.Imaging.Annotation.Web.HttpHandlers" version="2.0.0.21" targetFramework="net452" />
  <package id="Vintasoft.Imaging.Annotation.Web.Services" version="2.0.0.21" targetFramework="net452" />
  <package id="Vintasoft.Imaging.Pdf" version="6.0.0.21" targetFramework="net452" />
  <package id="Vintasoft.Imaging.Web.HttpHandlers" version="2.0.0.21" targetFramework="net452" />
  <package id="Vintasoft.Imaging.Web.Services" version="2.0.0.21" targetFramework="net452" />
  <package id="Vintasoft.Shared" version="1.4.0.1" targetFramework="net452" />
  <package id="Vintasoft.Shared.Web" version="1.4.0.1" targetFramework="net452" />
  <package id="WebGrease" version="1.5.2" targetFramework="net452" />
</packages>