<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8" />
    <sessionState timeout="10080" regenerateExpiredSessionId="false" cookieless="UseCookies" cookieName="Asp.NET_SessionId" sessionIDManagerType="AspNetDemo.MySessionIDManager">
    </sessionState>
    <httpRuntime maxRequestLength="32768" targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".emf" mimeType="application/image" />
      <mimeMap fileExtension=".jls" mimeType="application/image" />
      <mimeMap fileExtension=".jb2" mimeType="application/image" />
      <mimeMap fileExtension=".jbig2" mimeType="application/image" />
      <mimeMap fileExtension=".jp2" mimeType="application/image" />
      <mimeMap fileExtension=".j2k" mimeType="application/image" />
      <mimeMap fileExtension=".j2c" mimeType="application/image" />
      <mimeMap fileExtension=".jpc" mimeType="application/image" />
      <mimeMap fileExtension=".cr2" mimeType="application/image" />
      <mimeMap fileExtension=".crw" mimeType="application/image" />
      <mimeMap fileExtension=".nef" mimeType="application/image" />
      <mimeMap fileExtension=".nrw" mimeType="application/image" />
      <mimeMap fileExtension=".dng" mimeType="application/image" />
      <mimeMap fileExtension=".dcm" mimeType="application/image" />
      <mimeMap fileExtension=".dic" mimeType="application/image" />
      <mimeMap fileExtension=".acr" mimeType="application/image" />
    </staticContent>
  </system.webServer>
  <appSettings>
    <!--name of directory where uploaded files must be stored-->
    <add key="VintasoftWebImaging_UploadDirectoryName" value="UploadedImageFiles" />
    <!--name of directory where cached data must be stored-->
    <add key="VintasoftWebImaging_CacheDirectoryName" value="VintasoftCache" />
    <!--name of directory where cached thumbnails must be stored-->
    <add key="VintasoftWebImaging_CachedThumbnailsDirectoryName" value="Thumbnails" />
    <!--name of directory where cached image tiles must be stored-->
    <add key="VintasoftWebImaging_CachedImageTilesDirectoryName" value="Tiles" />
    <!--name of directory where cached annotations must be stored-->
    <add key="VintasoftWebImaging_CachedAnnotationPackagesDirectoryName" value="Annotations" />
    <!--a value that determines how long, in minutes, cached object will be stored on server-->
    <add key="VintasoftWebImaging_CacheLifeTime" value="10080" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>